html,body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: bisque;
 font-family: sans-serif;
}
.cantaniner{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 400px;
  border-radius: 10px;
  box-shadow:  rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  margin-top: -10px;
  font-size: 44px;
}
p{
  font-weight: bold;
  font-size: 20px;
  color: green;
}
input{
  height: 40px;
  width: 150px;
  font-size:20px;

}
.month{
  margin-top: 15px;
  font-size: 25px;
}
.month p{
  display: inline;
}
.reset button{
  position: absolute;
  border-radius: 50%;
  height: 40px;
  background-color: red;
  color: white;
  cursor: pointer;
  right: 10px;
  bottom: 80px;
}